<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} App Grupo 37 {% endblock %} </title>
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
            <h1>Aplicación Grupo 37</h1>
        {% endblock %}
    </header>
    <nav>
        {% block nav %}
            <!-- nav content-->
        {% endblock %}
    </nav>
    <main>
        {% block content %}
            <!-- content content-->
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
            <p>Grupo 37 - Desarrollo Web en Entorno Servidor</p>
        {% endblock %}
    </footer>
</body>

</html>