{% extends "layout.html" %} {% block title %} Sitios Historicos - App37 {%
endblock %} {% block titulo_body %}
<!--<h1>{{ site.name }}</h1>-->
{% endblock %} 

{% block main_content %}

  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="card shadow-sm border-0 rounded-0 bg-white" style="padding:1rem;">
          <div class="card-body">
            <form id="editForm" action="{{ url_for('sites.edit_site', site_id=site.id ) }}" method="POST">
              <div class="row">
                <div class="col-md-8">
                  <!--Main content-->
                    <div>
                      <div>
                        <label for="name"> <strong>Nombre:</strong> </label>
                        <input class="form-control" type="text" id="name" name="name" value="{{ site.name }}">
                      </div>

                      <div>
                        <label for="description_short"> <strong>Descripión breve:</strong> </label>
                        <textarea rows="3" class="form-control" id="description_short" name="description_short" placeholder="">{{ site.description_short }}</textarea>
                      </div>

                      <div>
                        <label for="description"> <strong>Descripción:</strong> </label>
                        <textarea rows="6" class="form-control" id="description" name="description" placeholder="">{{ site.description }}</textarea>
                      </div>
                      
                    </div>

                </div>  

                <div class="col-md-4">
                  <!--Aside content pane-->
                  <div>
                    <label for="location"> <strong>Ubicación:</strong> </label>
                    <input class="form-control" type="text" id="location" name="location" value="{{ site.location }}">
                  </div>

                  <div>
                    <label for="province"> <strong>Provincia:</strong> </label>
                    <input class="form-control" type="text" id="province" name="province" value="{{ site.province }}">
                  </div>

                  <div>
                    <label for="year_declared"> <strong>Año de declaración:</strong> </label>
                    <input class="form-control" type="text" id="id_registro" name="id" value="{{ site.year_declared }}">
                  </div>

                  <div>
                    <label for="category"> <strong>Categoría:</strong> </label>
                    <input class="form-control" type="text" id="category" name="id" value="{{ site.category }}">
                  </div>

                  <div>
                    <label for="registration_date"> <strong>Fecha de registro:</strong> </label>
                    <input class="form-control" type="text" id="registration_date" name="id" value="{{ site.registration_date }}">
                  </div>

                  <div>
                    <label for="conservation_status"> <strong>Estado de conservación:</strong> </label>
                    <input class="form-control" type="text" id="conservation_status" name="id" value="{{ site.conservation_status }}">
                  </div>

                  <div>
                    <label for="visibility"> <strong>Visibilidad:</strong> </label>
                    <input class="form-check-input" type="checkbox" id="visibility" name="id" value="{{ site.visibility }}">
                  </div>

                </div>
              </div>
              <input type="submit" class="btn btn-primary" value="Guardar">
              <a class="btn btn-primary" href="{{ url_for('sites.list_sites') }}"> Cancelar </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> 
{% endblock %}





