{% extends "layout.html" %} 

{% block titulo_body %}
  <h1 style="margin-top: 3%;">
    <i class="bi bi-geo"></i>
    Sitios Historicos
  </h1>
{% endblock%} 

{% block titulo_acciones_body %}
    <a href="{{ url_for('sites.create_site') }}" class="btn btn-new">
      Añadir Sitio <i class="bi bi-geo small"></i>
    </a>
{% endblock %}

{% block body %}
  <!-- Filtros -->
    <div class="card shadow-sm border-0 rounded-0 bg-white">
        <div class="card-body">
            <div class="row">
                <form method="get" class="row g-2 mb-4">
                  <!-- Ciudad -->
                    <div class="col-4">
                      <input type="text" name="city" class="form-control"
                        placeholder="Ciudad" value="{{ city or '' }}">
                    </div>
                    <div class="col-1"></div>
                    <!-- Provincia -->
                    <div class="col-3">
                      <select name="province" class="form-select">
                        <option value="">Seleccione una provincia</option>
                        {% for prov in provinces %}
                          <option value="{{ prov }}" {% if request.args.get('province') == prov %}selected{% endif %}>{{ prov }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-1"></div>
                    <!-- Tags -->
                    <div class="col-md-3">
                      <select name="tags" class="form-select" >
                        <option value="">Seleccione un tag</option>
                        {% for tag in tags %}
                          <option value="{{ tag.id }}" {% if tag.id|string in request.args.getlist('tags') %}selected{% endif %}>{{ tag.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <!-- Estado de conservación -->
                    <div class="col-4">
                      <input type="text" name="conservation_status" class="form-control"
                        placeholder="Estado de conservación" value="{{ conservation_status or '' }}">
                    </div>
                    <div class="col-1"></div>
                    <!-- Busqueda por texto -->
                    <div class="col-7">
                      <input type="text" name="search_text" class="form-control"
                        placeholder="Ingrese un texto" value="{{ search_text or '' }}">
                    </div>
                    <!-- Fechas de registro -->
                    <div class="col-3" style="margin-top: 1.5rem;">
                      <label for="date_from" class="form-label">Fecha registro desde</label>
                      <input type="date" id="date_from" name="date_from" class="form-control" value="{{ date_from or '' }}">
                    </div>

                    <div class="col-3" style="margin-top: 1.5rem;">
                      <label for="date_to" class="form-label">Fecha registro hasta</label>
                      <input type="date" id="date_to" name="date_to" class="form-control" value="{{ date_to or '' }}">
                    </div>
                    <div class="col-1"></div>
                    <!-- Check de visibilidad -->
                    <div class="col-3 d-flex align-items-center" style="margin-top: 1.5rem;">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="visibility" id="visibility" {% if visibility %}checked{% endif %}>
                        <label class="form-check-label" for="visibility">Visible</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-3 d-flex justify-content-end align-items-center" style="margin-top: 2rem;">
                        <button type="submit" class="btn btn-azul d-flex align-items-center justify-content-center gap-2 shadow">
                            Buscar <i class="bi bi-search small"></i> 
                        </button>
                      </div>
                      {% if has_filters %}
                        <div class="col-3 d-flex justify-content-end align-items-center" style="margin-top: 2rem;">
                            <a href="{{ url_for('sites.list_sites') }}" class="btn btn-limpiar d-flex align-items-center justify-content-center gap-2 shadow" style="width: 90%;">
                                Limpiar <i class="bi bi-x-circle small"></i>
                            </a>
                        </div>
                      {% endif %}
                    </div>
                    
                </form>
            </div>
        </div>
    </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ciudad</th>
      <th>Provincia</th>
      <th>Estado de conservación</th>
      <th>Visible</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for site in sites %}
    <tr>
      <td>{{ site.name }}</td>
      <td>{{ site.city }}</td>
      <td>{{ site.province }}</td>
      <td>{{ site.conservation_status }}</td>
      <td>
        {% if site.visibility %}
          Sí
        {% else %}
          No
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('sites.show_site', site_id=site.id) }}" class="btn btn-icon" title="Ver Sitio" aria-label="Ver Sitio">
          <i class="bi bi-eye"></i>
        </a>
        <a href="{{ url_for('sites.edit_site', site_id=site.id) }}" class="btn btn-icon" title="Editar Sitio" aria-label="Editar Sitio">
          <i class="bi bi-pencil"></i>
        </a>
        <a href="{{ url_for('sites.delete_site', site_id=site.id) }}" class="btn btn-icon" title="Eliminar Sitio" aria-label="Eliminar Sitio" onclick="return confirm('¿Estás seguro de que deseas eliminar este sitio?');">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="card-footer d-flex justify-content-center">
  <ul class="pagination">
    {% for page_num in sites.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=2) %} {% if page_num %} {% if sites.page ==
    page_num %}
    <li class="page-item disabled">
      <a
        class="page-link"
        href="{{ url_for('sites.list_sites', page=page_num, **(current_query or {}))}}"
        >{{ page_num }}</a
      >
    </li>
    {% else %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('sites.list_sites', page=page_num, **(current_query or {}))}}"
        >{{ page_num }}</a
      >
    </li>
    {% endif %} {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
    {% endif %} {% endfor %}
  </ul>

  <div>
  <!-- <a href="{{ url_for('sites.download_csv_sites') }}" class="btn btn-primary">
    <button class="btn btn-primary">Exportar CSV</button>
  </a> -->
</div>
</div>



{% endblock %}
