{% extends "layout.html" %}

{% block title %} 
  Sitios Historicos - App37 
{% endblock %} 

{% block titulo_body %}
  <h1>
    <i class="bi bi-geo"></i>
    {{ site.name }}
  </h1>{% endblock %} 

{% block titulo_acciones_body %}
  <a class="btn btn-azul" href="{{ url_for('sites.show_site_history', site_id=site.id) }}" style="margin-top: 0;">
    Historial de cambios<i class="bi bi-list small"></i>
  </a>
  <a class="btn btn-new" href="{{ url_for('sites.edit_site', site_id=site.id) }}" style="margin-top: 2%;">
    Editar <i class="bi bi-pencil small"></i><i class="bi bi-tags-fill small"></i>
  </a>
{% endblock %}

{% block body %}
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="card shadow-sm border-0 rounded-0 bg-white" style="padding:1rem;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <!--Main content-->
                <!-- <h1>{{ site.name }}</h1> -->
                <p>{{ site.description_short }}</p>
                <p> <strong>{{ site.description }}</strong></p>
              </div>

              <div class="col-md-4">
                <!--Aside content pane-->
                <p> <strong>Ubicación:</strong> {{ site.location }}</p>
                <p> <strong>Provincia:</strong> {{ site.province }}</p>
                <p> <strong>Año de declaración:</strong> {{ site.year_declared }}</p>
                <p> <strong>Categoría: </strong> {{ site.category }}</p>
                <p> <strong>Fecha de registro:</strong> {{ site.registration_date }}</p>
                <p> <strong>Estado de conservación: </strong> {{ site.conservation_status }}</p>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div>  -->
    <div class="col-2 justify-content-start" style="margin-top: 2%;">
        <a href="{{ url_for('sites.list_sites') }}" class="btn btn-azul">
            <i class="bi bi-arrow-left small"></i> Volver
        </a>
    </div>
  <!-- </div>  -->
{% endblock %}





