{% extends "layout.html" %}

{% block titulo_body %}
  <h1>
    <i class="bi bi-tags-fill"></i>
    Editar Tag
  </h1>
{% endblock %}

{% block body %}
    <form method="POST" action="{{ url_for('tags.edit_tag', tag_id=tag.id) }}">
        {{ form.hidden_tag() }}
        <div class="card shadow-sm border-0 rounded-0 bg-white">
            <div class="card-body">

                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control " + ("is-invalid" if form.name.errors else "")) }}
                    {% if form.name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control " + ("is-invalid" if form.description.errors else ""), rows="3") }}
                    {% if form.description.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </div>

            </div>

            <div class="card-actions p-3 d-flex justify-content-end">
                <div class="col-2">
                    <button type="submit" class="btn btn-azul">Actualizar  <i class="bi bi-floppy small"></i></button>
                </div>
            </div>
            <br>
        </div>

        <div class="col-2" style="padding-top: 2%;">
            <a href="{{ url_for('tags.list_tags') }}" class="btn btn-azul"><i class="bi bi-arrow-left small"></i> Volver</a>
        </div>
    </form>
  
{% endblock %}